<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dbc881d7-1619-4a9c-a13b-27596e0d2c9c/resourceGroups/FLIB_RS/providers/Microsoft.Web/sites/flib50</ResourceId>
    <ResourceGroup>FLIB_RS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flib50.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>flib50.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>flib50</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$flib50</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LibolEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:flib50.database.windows.net,1433;Initial Catalog=Libol;Persist Security Info=True;User ID=flibadmin;Password=Chipchip11;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Libol.Models.LibolEntities, Libol" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LibolEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Libol.csdl|res://*/Models.Libol.ssdl|res://*/Models.Libol.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:flib50.database.windows.net,1433;Initial Catalog=Libol;Persist Security Info=True;User ID=flibadmin;Password=Chipchip11;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>